/*resets*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

/*base*/

html {
    width: 100%;
    min-height: 100%;
    font-size: 62.5%;
}

.bg-fixed {
    background-attachment: fixed;
}

body {
    height: 100%;
    font-family: "DIN Pro";
    font-size: 2.4rem;
    box-sizing: border-box;
}

/*grid*/

.col-2 {
    flex-basis: 50%;
}

.col-3 {
    flex-basis: 33%;
}

.col-4 {
    flex-basis: 25%;
}


.container {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
}

/*inputs and buttons*/

.button {
    font-family: "DIN Pro";
    font-size: 17px;
    border-radius: 1rem;
    text-transform: capitalize;
    color: #000000;
    transition: all 0.15;
    border: 1px solid #000;
    cursor: pointer;
}

/*typography*/

h1,
h2,
h3 {
    font-family: "DIN Pro Black";
}

h1,
h2 {
    font-size: 5.3rem;
}

a {
    text-decoration: none;
}


h2 {
    font-size: 5.3rem;
}

h2.medium {
    font-size: 4.8rem;
}

p {
    font-size: 2.4rem;
}

.text-white {
    color: #ffffff;
}

.button-transparent {
    background-color: transparent;
}

.button-transparent:hover {
    background-color: #000;
    color: #000;
}

.button-attention {
    background-color: #EE1919;
    border-color: #EE1919;
    color: #ffffff;
}

.button-dark {
    background-color: #000000;
}

․lg-hidden {
    display: none!important;
}


body {
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    background-color: #eee;
    font-family: 'DIN Pro';
    overflow-x: hidden;
    color: #000000;
}

.container-fluid-fx-bg {
    background-attachment: fixed;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    background: url('../img/bg-1.jpg') 50% 0;
    background-size: cover;
    height: 97.5vh;
    position: relative;
    width: 100%;
    z-index: 2;
}

.header h1 span {
    font-size: 3.2rem;
    font-family: "DIN Pro";
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-top: 3rem;
    color: #ffffff;
    max-width: 1120px;
    margin: 0 auto;
    font-size: 1.7rem;
    width: 100%;
}

.hamburger,
.nav__item--close {
    display: none;
}

.nav a {
    /* font-size: 1.7rem; */
    color: #ffffff;
    font-size: 1.7rem;
    display: block;
}

.nav__menu {
    flex-grow: 2;
    margin-left: 4.8rem;
    padding-top: 1.6rem;
}

.nav__menu li {
    display: inline-block;
}

.fancy_underline {
    position: relative;
}

.fancy_underline:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    top: -10px;
    left: 0;
    /* background-color: rgba(255,255,255,0); */
    background-color: currentColor;
    border: none;
    transform: scaleX(0);
    transition: all 0.3s .05s;
}

.fancy_underline:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

.nav__item a{
    padding: .5rem 1.75rem 0.25rem;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    font-family: 'DIN Pro';
}

.nav__aside {
    display: flex;
    flex-flow: row nowrap;
    text-align: right;

}

.nav__aside p {
    font-size: 1.9rem;
}

.nav__aside p:not(:last-child) {
    padding-right: 2.8rem;
}

.nav__aside a {
    /* white-space: nowrap; */
    font-size: 1.9rem;
    font-family: 'DIN Pro Medium';
    margin-bottom: 0.7rem;
    text-align: center;
}

.nav__button {
    padding: 5px 15px;
    font-size: 1.3rem;
    font-family: 'DIN Pro';
    border-radius: 5px;
    cursor: pointer; 
}

.nav__button:hover {
    background-color: #000000;
    color: #ffffff;
}

.nav__socials {
    display: none;
}

.jumbotron {
    height: 100%;
    padding-top: 150px;
}

.jumbotron__link--slidedown {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 4rem;
    color: #000000;
    border-radius: 50%;
    border-color: rgba(255,255,255,0.5);
    margin-left: -2.5rem;
    border-width: 2rem;
    display: block;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    text-align: center;
    transform: translateY(50%);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    z-index: 100;
    animation: bubble 3s 3s infinite
}

.jumbotron__link--slidedown:hover {
    animation: bubble 0s 0s, pulse-shadow 1s 1s infinite;
}

.jumbotron .container {
    height: 100%;
}

.jumbotron__text--container {
    align-items: flex-end;
    color: #ffffff;
    height: 100%;
    width: 100%;
    padding-bottom: 10rem;
}

.jumbotron__text--header {
}

.jumbotron h1 {
    font-family: 'DIN Pro Black';
    font-size: 5.3rem;
    margin-bottom: 6rem;
}

.jumbotron__text--header p {
    font-size: 3.2rem;
    font-family: "DIN Pro";
}

.jumbotron__text--content {
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 4rem 5rem;
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
}

.jumbotron__text--content p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    flex-basis: 100%;
}

.jumbotron__icon-container{
    width: 177px;
    height: 83px;
    display: inline-block;
}

.jumbotron__input--container {
    /* overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center; */
}

.blink {
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;

}

.blink:after {
    content: '';
    transform: rotate(45deg);
    display: block;
    position: absolute;
    background-color: rgba(255,255,255, 0.5);
    height: 200px;
    width: 40px;
    left: -40px;
    top: -50px;
    animation: slideLeft 2s 0s infinite
}

.jumbotron__input--container:after {
    /* content: '';
    transform: rotate(45deg);
    display: block;
    position: absolute;
    background-color: rgba(255,255,255, 0.5);
    height: 200px;
    width: 40px;
    left: -40px;
    top: -50px;
    animation: slideLeft 2s 0s infinite */
}

.jumbotron__text--content input {
    display: inline-block;
    background-color: #f10;
    border: none;
    color: #ffffff;
    padding: 2rem 2.6rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: "DIN Pro";
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 11rem;
} 

/* .card-container .card:not(:last-child) {
    margin-right: 6.5rem;
} */

.card {
    background-color: #ffffff;
    border-radius: 10px;
    flex-basis: 300px;
    text-align: center;
    padding: 5.5rem 3rem 4.5rem;
    min-height: 310px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    font-size: 1.7rem;
}

.card:hover {
    box-shadow: 0 0 13px 3px #d1d1d1;
    transform: scale(1.02);
    transition: all 0.3s;
    perspective: 1000px;
}

.card__image {
    display: block;
    justify-self: start;
    margin-bottom: auto;
}

.card-container .card:nth-child(2) img {
    animation: rotate 4s 0s infinite linear;

}

.card-container .card:nth-child(1) img {
    animation: squeeze 3s 0s infinite linear;
}

.card-container .card:nth-child(3) img {
    animation: stretch 3s 0s infinite linear;
}


.card h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-family: "DIN Pro Black";
}

.gallery {
    padding: 9.5rem 0 11.5rem;
}

.gallery__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery__header .button {
    padding: .6rem 2.8rem;
    font-size: 2rem;
    font-family: "DIN Pro Black";
    text-transform: capitalize;
    border: transparent;
}

.gallery__header .button.active {
    color: #ff1100;
    border: 1px solid #A5A5A5;
}

.gallery__header h2 {
    font-size: 5.2rem;
    font-family: "DIN Pro Black";
    margin-bottom: 2.6rem;
    flex-basis: 100%;
}

.gallery__header > p {
    font-size: 3.2rem;
    font-family: "DIN Pro";
    margin-bottom: 8.5rem;
    margin-right: auto;
}

.gallery__type li {
    display: inline-block;
}

.gallery__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 12rem;
}

.gallery__items {
    flex-basis: 33%;
    outline-width: 0 2px 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px 0 40px;
    border: 1px solid #E1E1E1;
    border-top: none;
}

.gallery__content > .gallery__items:nth-child(3n) {
    border-right: none;
    border-left: none;
}

.gallery__content > .gallery__items:nth-child(3n + 1) {
    border-right: none;
    border-left: none;
}

.gallery__content > .gallery__items:nth-child(-n + 3) {
    border-top: none;
}

.gallery__content > .gallery__items:nth-last-child(-n + 3) {
    border-bottom: none;
}


.item-type {
    font-family: "DIN Pro Light";
    font-size: 1.7rem;

}

.item-name {
    font-size: "DIN Pro Black";
    font-size: 2rem;
}

.price {
    font-size: 'DIN Pro Medium';
    font-size: 1.7rem;
}

.price:after {
    content: 'рублей';
    padding-left: 4px;
}


.gallery__item--img {
    max-width: 300px;
    height: auto;
}

.gallery__item--img img {
    max-width: 300px;
}

.gallery__item--content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 300px;
}

.gallery__item--thumbs a{
    display: inline-block;
}

.gallery__item--thumbs img{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.gallery__item--ordering {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    justify-content: space-between;
    align-items: stretch;
}

.gallery__item--ordering input{
    flex-basis: 48%;
    padding: 1.4rem 0 1.4rem;
}

.gallery__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.gallery__footer p {
    font-size: 1.7rem;
    flex-basis: 44rem;
    font-family: "DIN Pro";
}

.gallery__footer input {
    padding: 1.8rem 4rem;
    color: #ffffff;

}

.looking-for {
    padding: 9.2rem 0 10rem;
    background: url(../img/bg-2.jpg);
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.looking-for h2{
    text-transform: capitalize;
    font-size: 4.3rem;
    font-family: "DIN Pro Black";
    max-width: 72rem;
    margin-bottom: 3.5rem;
    line-height: 1;
}

.looking-for p {
    font-size: 2.4rem;
    font-family: "DIN Pro Light";
    display: inline-block;
    max-width: 48rem;
    vertical-align: top;
    margin-right: 5.5rem;
}

.looking-for img {
    display: inline-block;
    width: 58rem;
    height: 28rem;
}

.looking-for input {
    padding: 2.2rem 4rem;
}

.your-choice {
    padding: 11.5rem 0 11.5rem;
}

.your-choice__text {
    flex-basis: 380px;

}

.your-choice .card-container {
    padding: 0;
}

.your-choice h2 {
    flex-basis: 38.5rem;
    margin-bottom: 2.5rem;

}

.card-container p {
    font-size: 1.7rem;
    font-family: "DIN Pro";
}

.your-choice .card-container li:not(:last-child) {
    margin-right: 2rem;
}

.matras {
    background-image: url(../img/bg-3.jpg);
    background-attachment: fixed;
    padding: 10rem 0 9rem;
    color: #ffffff;
}

.matras h2 {
    font-size: 4.3rem;
    margin-bottom: 5rem;
}

.matras p {
    font-family: 'DIN Pro Light'
}

.matras .text-content p:not(:last-child) {
    margin-bottom: 3rem;
}

.matras > .container {
    display: flex;
    flex-flow: row;
}

.matras img {
    max-width: 550px;
    height: 256px;
    display: inline-block;
    margin-top: 4rem;
    margin-right: 3rem;
}

.matras .text-content {
    flex-basis: 50%;
}


.showroom {
    padding: 10rem 0 9.3rem;  
}

.showroom h2 {
    font-size: 4.8rem;
    margin-bottom: 4.3rem;
}

.showroom > .container {
    display: flex;
    flex-flow: row wrap;
}

.showroom > .container > div {
    flex-basis: 50%;
}

.showroom .text-content {
    padding-right: 1rem;
}

.showroom .address {
    padding-top: 3.6rem;
}

.showroom .address img {
    float: left;
    border-radius: 5px;
    border: 1px solid #000;
    margin-right: 1.8rem;
    margin-top: 5px;
}

.showroom .address p {
    font-size: 1.9rem;
    font-family: "DIN Pro Light";
}

.showroom .img-content {
    display: flex;
    flex-flow: row nowrap;
}

.showroom .img-content > a img {
    width: 422px;
    height: 360px;
}

.showroom .img-content .thumbs img {
    width: 122px;
    height: 96px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.showroom .img-content .thumbs {
    display: flex;
    flex-flow: column;
}

.manifacturer {
    background-image: url(../img/bg_4.jpg);
    padding: 4rem 0;
    align-items: center;
}

.manifacturer img {
    float: left;
    animation: rotate 4s infinite linear;
}

.manifacturer .text-content {
    float: left;
    margin-left: 4.2rem;  
}

.manifacturer .text-content h2 {
    font-size: 2.7rem;
    padding-top: 22px;
    margin-bottom: 22px;
}

.manifacturer .text-content p {
    font-size: 1.7rem;
    font-family: "DIn Pro Light";
    vertical-align: middle;
    max-width: 800px;
}


.manifacturer .container:after {
    content: '';
    display: table;
    clear: both;
}

.designer {
    background-color: #fff;
    padding-top: 10.8rem;
    padding-bottom: 8.5rem;

}


.designer > .container {

}

/* .designer > .container > * {
    flex-basis: 50%;
} */

.designer h2 {
    margin-bottom: 4.2rem;
    font-size: 4.2rem;
}

.designer .text-content {
    margin-left: 4.8rem;
}

.designer .text-content__footer {
    margin-top: 4.8rem;
    font-size: 1.9rem;
    font-family: "DIN Pro ";
    display: flex;
    flex-flow: row;
}

.designer .text-content__footer p{
    margin-left: 2.4rem;
    font-family: "DIN Pro";
    font-size: 1.9rem;
}

.contact-us {
    background-image: url(../img/bg-7.jpg);
    background-attachment: fixed;
    padding: 7rem 0 6.5rem;
    color: #ffffff;
}

.contact-us .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 96rem;
}

.contact-us .container > .text-content {
    flex-basis: 60%;;
}

.contact-us form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    padding: 3.5rem 4rem 5.5rem;
    text-align: center;
    max-width: 31rem;
}

.contact-us form h2 {
    font-size: 1.7rem;
    font-family: "DIN Pro Light";
    margin-bottom: 2rem;
}

.contact-us form input[type='text'] {
    border: 1px solid #e1e1e1;
    text-align: center;
    padding: 1.8rem 1rem;
    border-radius: 8px;
    width: 100%;
    margin: 0 1rem 1.4rem 1rem;
}

.contact-us form input[type='text']:focus {
    border-color: #f10;
    outline: none;
    box-shadow: 0px 0px 3px #f10;
    flex-basis: 100%;
}

.contact-us form input[type='checkbox'],
.contact-us label {
    font-size: 9px;
}

.contact-us .button {
    width: 100%;
    padding: 2rem 2.2rem 2rem;
    margin-bottom: 2rem;
}

.contact-us h2 {
    font-size: 4.8rem;
    margin-bottom: 3.8rem;
}

.contact-us .text-content p{
    font-size: 2.9rem;
    font-family: 'DIN Pro Light';
}



.contact-us form {
    background-color: #fff;
    border-radius: 8px;
}

.footer > .container {
    display: flex;
    flex-flow: row nowrap;
    padding: 7.5rem 0 0;
    justify-content: end;
}

.icon-container {
    /* flex-grow: 2; */
    margin-right: auto;
}

.footer .text-content {
    text-align: right;
}

.footer .text-content h2 {
    white-space: nowrap;
}

.footer .text-content a {
    color: #000000;
    font-size: 2.4rem;
    font-family: "DIN Pro Medium";
}

.footer .copyright {
    flex-basis: 100%;
}

.footer .map-container {
    margin-left: 2rem;
}


.copyright {
    padding: 7.4rem 0 1rem;
    font-size: 1.7rem;
    font-family: "DIN Pro Light";
}

.copyright p {
    font-size: 1.7rem;
    font-family: "DIN Pro Light";

}

ymaps {
    max-width: none;
    max-height: none;
}



@media (max-width: 1200px) {
    .container {
        flex-flow: row wrap;
        max-width: 70rem;
        padding: 0 .5rem;
    }

    .lg-hidden {
        display: unset!important;
    }

    .hidden-lg {
        display: none!important;
    }

    .nav {
        flex-flow: row wrap;
        justify-content: space-around;
        /* max-width: 70rem; */
    }
    .nav__menu {
        order: 4;
        flex-basis: 100%;
        /* justify-content: center; */
        text-align: center;
        justify-self: center;
    }

    .md-col-1 {
        flex-basis: 100%;
    }

    .jumbotron {
        text-align: center;
    }

    .jumbotron .container {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .jumbotron__text--header {
        margin-bottom: -5.7rem;
    }

    .jumbotron__text--header p {
        margin-bottom: -3.5rem;
    }

    .jumbotron__text--content {
        max-width: 535px;
        padding: 3.4rem 5rem;
        margin-bottom: auto;
        margin-top: -1rem;
    }

    .jumbotron__text--content p {
        margin-bottom: -20px;
    }

    .card-container {
        padding: 8.5rem 0 0;
    }

    .card-container .card:nth-child(-n+2) {
        margin-bottom: 3.5rem;
    }

    .gallery__header {
        flex-flow: column;
        justify-items: center;
        align-items: center;
    }

    .gallery__type {
        order: -1;
        margin-bottom: 2rem;
    }

    .gallery__header h2 {
        margin-bottom: 1rem;
    }

    .gallery__header p {
        margin-right: 0;
        margin-bottom: 4rem;
    }

    .gallery__footer p {
        padding-left: 6rem;
        padding-right: 3rem;
    }

    .looking-for {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .looking-for p {
        font-size: 2.1rem;
        margin-right: 0;
        text-align: center;
        max-width: unset;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .looking-for h2 {
        font-size: 3.7rem;
    }

    .looking-for img {
        width: 40rem;
        height: 19rem;
        flex-basis: unset;
        display: block;
        margin: auto;
    }

    .looking-for__image__container p{
        margin-bottom: 9rem;
    }

    .looking-for__image__container {
        margin-bottom: 4rem;
    }

    .looking-for__input__wrapper {
        flex-flow: column;
        align-items: center;
    }

    .looking-for .button {
        padding-top: 1.8rem;
        padding-bottom: 1.7rem;
    }

    .your-choice {
        padding: 5.5rem 0 5.5rem;
    }

    .your-choice__text {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 5.5rem;
    }

    .your-choice img {
        width: 155px;
        height: 155px;
    }

    .matras {
        text-align: center;
        padding-top: 7rem;
        padding-bottom: 5rem;
    }

    .matras__text-content {
        flex-basis: unset;
    }

    .matras h2 {
        font-size: 3.7rem;
    }

    .matras__text-content p {
        margin-bottom: 4rem;
    }

    .matras__text-content img {
        margin: 0;
    }

}

@media (max-width: 770px) {

    .container {
        max-width: 30rem;
    }

    body {
        font-size: 1.3rem;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 6rem;
        background-color: #ffffff;
        /* max-width: 70rem; */
        color: #000000;
        padding-top: 0;
    }

    .nav .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .nav__logo--link {
        /* margin: ; */
    }

    .nav a {
        color: #000000;
    }

    .hamburger .line {
        display: block;
        height: 5px;
        width: 2.5rem;
        background-color: #000000;
        margin-bottom: .5rem;
    }
        
    #menu {
        display: none;
    }
    
    .nav__menu {
        display: none;
    }
        
    .hamburger {
        display: block;
    }
    
    .nav__logo--link img {
        width: 6rem;
        height: 3rem;
    }

    .nav__socials {
        display: block;
        margin-right: 7px;
    }

    .nav__socials a{
        display: inline-block;
    }

    .nav__socials img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .nav__aside .address{
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.3rem;
        color: #ffffff;
    }

    .nav__aside p:nth-child(2) {
        display: block;
    }

    .nav__button {
        background-color: #f10;
        color: #ffffff;
        font-size: 1.3rem;
        padding: 2px 7px;
        border: none;
    }

    .nav__aside a {
        font-size: 1.4rem;
        font-family: "Din Pro Medium";
        margin-bottom: 0;
    }

    .nav__logo--link {
        margin: 0 7px;
    }

    .nav__menu {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255,255,255,0.8);
        transform: scaleX(0);
        transition: all 0.1s;
    }

    .nav__menu.open {
        transform: scaleX(1);        
        z-index: 1000;
        padding-bottom: 30vh;
    }

    .nav__item--close {
        position: absolute;
        right: 10px;
        top: 0;
        padding: 2rem;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
    }

    .nav__item--close a {
        width: 1rem;
        height: 1rem;
    }    

    .nav__item--close a:before {
        content: '';
        display: block;
        width: 2rem;
        height: 4px;
        background-color: #000;
        margin-bottom: 2rem;
        position: absolute;
        transform: rotate(45deg);
        cursor: pointer;        
        transform-origin: center;
    }

    .nav__item--close a:after {
        content: '';
        display: block;
        width: 2rem;
        height: 4px;
        background-color: #000;
        position: absolute;
        transform: rotate(-45deg);          
        cursor: pointer;
        transform-origin: center;        
    }    

    .nav__menu {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 0;
    }

    /* .nav__menu.open::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255,255,255,0.9);
        z-index: -1;        
    } */

    
    .jumbotron h1 {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }
    
    .jumbotron__text--header p {
        margin-bottom: 0;
        font-size: 1.9rem;
    }

    .jumbotron__text--content {
        display: flex;
        text-align: center;
        padding: 2rem 1.5rem;
        justify-content: center;
    }

    .jumbotron__text--content p {
        font-size: 1.3rem;
    }

    .jumbotron__icon-container {
        margin: 1rem 0;
    }

    .jumbotron__text--content input {
        padding: 1.5rem 2rem;
    }

    .card-container {
        align-items: center;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-flow: row nowrap;
        flex-basis: 290px;
        padding: 1.5rem .5rem 1.5rem 2rem;
        align-items: center;
        justify-content: center;
        min-height: inherit;
        text-align: left;        
    }

    .card__image {
        margin-bottom: 0;
        margin-right: 1.5rem;
    }

    .card__image img {
        width: 5rem;
        height: 5rem;
    }

    .card__text h2 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .card__text p {
        font-size: 1.3rem;
    }

    .gallery {
        padding-bottom: 4rem;
    }

    .gallery__content {
        padding-bottom: 2rem;
    }

    .gallery__items {
        flex-basis: 25rem;
    }

    .gallery__item--info .item-type {
        font-size: 1.2rem;
    }

    .gallery__item--info price {
        font-size: 1.5rem;
    }

    .gallery__item--img {
        width: 25rem;
        height: 25rem;
        max-width: auto;
    }

    .gallery__item--img img {
        width: 100%;
    }

    .gallery__item--content {
        width: 250px;
    }

    .gallery__item--ordering {
        width: 250px;
    }

    .gallery__item--ordering .button {
        padding: 0.8rem 0;
        font-size: 1.6rem;
    }

    .gallery__footer {
        flex-direction: column;
    }

    .gallery__footer p{
        font-size: 1.3rem;
        flex-basis: auto;
        padding: 0 1.6rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .gallery__footer .button {
        padding: 1.2rem 4rem;
    }

    .looking-for {
        padding: 5rem 0 5rem;
    }

    .looking-for h2 {
        font-size: 2rem;
    }

    .looking-for__image__container p{
        font-size: 1.5rem;
        padding: 0;
    }

    .looking-for__image__container img {
        width: 25rem;
        height: 12rem;
    }

    .looking-for .button {
        padding-top: 1.8rem;
        padding-bottom: 1.7rem;
    }
    
    .your-choice__text h2{
        font-size: 2.1rem;
    }

    .your-choice .card-container {
        justify-content: space-around;
    }

    .your-choice__text p {
        font-size: 1.7rem;
    }

    .your-choice img {
        height: 12rem;
        width: 12rem;
    }

    .your-choice .card-container p {
        font-size: 1.3rem;
    }

    .your-choice .card-container li:not(:last-child) {
        margin: unset;
        margin-bottom: 2rem;
    }    

    .your-choice .card-container li {
        margin-bottom: 2rem;
    }

    .matras {
        padding-top: 5rem;
    }

    .matras h2 {
        font-size: 1.9rem;
        padding: 0 2rem;
    }

    .matras img {
        width: 20rem;
        height: 10rem;
    }

    .matras p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

}


#menu {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    color: #000000;
    box-shadow: 0 0 5px #e1e1e1;
}

#menu a {
    color: #000000;
}

#menu p {
    color: #000000;
}

#menu .nav {
    position: relative;
    padding-top: 1rem;
}

#menu .nav__menu{
    margin-left: 2.4rem;
    padding-top: 1.2rem;
}

#menu .nav__item a{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


#menu .nav__aside {
    display: flex;
    flex-flow: row;
}

#menu .nav__aside--text {
    font-size: 1.6rem;
}

#menu .order-call  {
    font-size: 1.5rem;
    text-align: right;
}

#menu .nav__phone {
    margin-bottom: 0;
}

#menu .social a {
    display: inline-block;
    transition: all 0.1s;
}

#menu .social a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px #e1e1e1;
}

#menu .social a img{
    width: 3.5rem;
    height: 3.5rem;
}



@keyframes bubble {
    0% {
        transform: translateY(50%)
    }

    25% {
        transform: translateY(0%)
    }

    50% {
        transform: translateY(35%)
    }

    75% {
        transform: translateY(15%);
    }
}

@keyframes slideLeft {
    0% {
        left: -80px;        
    }
    50% {
        left: 350px
    }

    100% {
        left: 350px        
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }    
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    }

    25% {
        box-shadow: 0 3px 3px 14px rgba(255,255,255,0.5);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.5);        
    }

    75% {
        box-shadow: 0 0 0 6px rgba(255,255,255,0.5);
    }    
}


@keyframes squeeze {
    0% {
        transform: translateX(-15px)
    }

    10% {
        transform: translateX(15px);
    }

    15% {
        transform: translateX(-15px)
    }

    20% {
        transform: translateX(15px);
    }
    
    25% {
        transform: translateX(0)
    }

    45% {
        transform: translateX(0)        
    }

    50% {
        transform: translateX(-15px)
    }

    60% {
        transform: translateX(15px);
    }

    65% {
        transform: translateX(-15px)
    }

    70% {
        transform: translateX(15px);
    }
    
    75% {
        transform: translateX(0)
    }
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }

    10% {
        transform: scaleX(1.2);
    }
    
    20% {
        transform: scaleX(0.8);
    }    
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

/* .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000;
  }
  
  .svg-icon circle {
    stroke: #000;
    stroke-width: 1;
  }

#ad {
    transform: scale(7);
    justify-self: start;
    margin-bottom: auto;
} */